
__pycache__/
.py*[код]
*$py.class

*.so

.Python
env/
сборка/
разработка-яйца/
dist/
Загрузки/
яйца/
.яйца/
библиотека/
lib64/
части/
sdist/
var/
колеса/
.egg-info*/
.installed.cfg
* .egg

*.manifest
* .spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.покрытие
.покрытие.*
.кэш
nosetests.xml
coverage.xml
*.обложка
.гипотеза/

* .mo
*.pot

*.log
local_settings.py

экземпляр/
.webassets-кэш

.scrapy

docs/_build/

цель/

.ipynb_checkpoints

.python-версия

celerybeat-расписание

*.sage.py

.env

.venv
venv/
ENV/
.vscode
.spyderproject
.spyproject

.ropeproject

/сайт

.mypy_cache/

.DS_Store
*.sqlite3
Медиафайлы/
*.pyc
*.db
*.pid
